RewriteEngine On

RewriteCond %{REQUEST_URI} !^/php-version/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /php-version/$1 [L]
RewriteRule ^$ /php-version/ [L]